:root {
  --header-bg-color: #24292e;
  --color-text-link: #0366d6;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  background-color: var(--header-bg-color);
}

header {
  padding: 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-height: 64px;
}

header button {
  background-color: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
}

header button:active {
outline: none;
}

.github-icon {
  max-height: 32px;
}

.dropdown-header {
  background-color: var(--header-bg-color);
  padding: 0px 16px 14px;
  display: flex;
  flex-flow: column;
}

.dropdown-header .header-search-form{
  padding-bottom: 16px ;
}

.dropdown-header .header-search-form .header-search-input {
  background-color: var(--header-bg-color);
  padding: 0px 12px;
  font-size: 14px;
  border: 1px solid #444d56;
  min-height: 30px;
  border-radius: 6px;
  line-height: 20px;
  box-shadow: none;
  width: 100%;
  color: #fff;
  outline: none;
}

.dropdown-header .header-search-form .header-search-input:focus {
  background-color: #444d56;
  border: 1px solid #0366d6;
}

.header-search-input::placeholder {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 14px;
  font-weight: 300;
  display: block;
}
.header-link-wrapper{
  padding: 8px 0px;
}
.header-link{
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid hsla(0, 0%, 100%, 0.15);
  font-size: 14px;
  line-height: 1.5;
  padding: 8px 0px;
}
.header-link * {
  display: inline-block;
  vertical-align: middle;
}
.header-link:hover{
  color:  hsla(0, 0%, 100%, 0.75);
  text-decoration: none;
}

footer {
  margin: 40px 0px 0px;
  padding: 52px 16px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 54px;
  font-size: 12px;
}

footer ul li:first-child {
  color: #24292e;
  margin-right: 16px;
}

footer ul li a {
  margin-right: 16px;
  color: var(--color-text-link);
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
}
